<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
  
<body>
  <p><b>Title:</b></p>{{job.title}}
  <p><b>Location:</b></p>{{job.location}}
  <p><b>Salary:</b></p>{{job.salary}}
  <p><b>Currancy:</b></p>{{job.currancy}}
  <p><b>Requirement:</b></p>
  {%for line in job.requirements.split("\n")%}
    <ul>
      <li>{{line}}</li>
    </ul>
  {%endfor%}
  <p><b>Responsibilities:</b></p>
  {%for line in job.responsibilities.split("\n")%}
    <ul>
      <li>{{line}}</li>
    </ul>
  {%endfor%}
  
</body>
  
</html>